* {
    padding: 0;
    margin: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
body{
    width: 100vw;
    overflow-x: hidden;
}
header {
    height: 90vh;
    width: 100%;
    background-image: url(assets/bg.jpg);
    background-position: center center;
    position: relative;
}

.opacity {
    top: 0px;
    height: 90vh;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
}

nav {
    margin: 0px auto;
    width: 80vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
}

#nflogo {
    margin-top: 20px;
    position: relative;
    z-index: 10;
    height: 42px;
}

.nav_nav {
    margin-top: 20px;
    position: relative;
    z-index: 10;
}

.button {
    margin: 11px;
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
}

.lang-btn {
    padding: 5px 25px;
    color: white;
    background-color: black;
    border: 1px solid #ffffff54;
    font-size: 15px;
    font-weight: 600;
}

.btn-sign {
    font-weight: bolder;
    color: white;
    background-color: red;
}

.hero {
    margin-top: 15%;
    color: white;
    text-align: center;
    position: relative;
    z-index: 10;
}

.hero :nth-child(1) {
    font-size: 3rem;
    font-weight: bolder;
}

.hero :nth-child(2) {
    margin-top: 16px;
    font-size: 1.5rem;
    font-weight: 400;
}

.hero :nth-child(3) p {
    margin-top: 16px;
    font-size: 1.25rem;
    font-weight: 400;
}

.gtstrt_btn {
    padding: 10px 25px;
    background-color: red;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
}


.email_entry {
    padding: 10px 15px;
    font-size: smaller;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ffffff54;
    background-color: black;
    color: red;
    position: relative;
    left: 0px;
    top: 17px;
}

.email_entry::placeholder {
    color: rgba(255, 255, 255, 0.577);
    font-size: 15px;
    font-weight: 600;
    position: inherit;
    top: 7px;
}

.separator {
    width: 100%;
    height: 9px;
    background-color: rgb(35, 35, 35);
}

.cards {
    padding: 0 5%;
    height: 65vh;
    width: 90%;
    display: flex;
    /* flex-wrap: wrap; */
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
    gap: 7%;
}

.textbhai {
    /* margin-left: 250px; */
    width: 40%;
    position: relative;
    /* justify-content: left; */
    align-items: center;
}

.cards span {
    color: white;
    font-size: 3rem;
    font-weight: bolder;
}

.cards p {
    color: white;
    font-size: 1.4rem;
}

.tvbox {
    /* margin-right: 80px; */
    height: 100%;
    width: 40%;
    position: relative;

}

.tvholder {
    height: 100%;
}

.tvframe {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
}

.tvvideo {
    height: 100%;
    width: 80%;
    position: absolute;
    /* top: 97px; */
    left: 54px;
    z-index: 1;
}

.dwnld-simulation {
    padding: 8px 10px;
    height: 90px;
    left: 50%;
    bottom: 8%;
    background-color: black;
    justify-content: space-between;
    display: flex;
    position: absolute;
    align-items: center;
    transform: translateX(-50%);
    width: 316px;
    border: 1px solid rgb(241, 221, 221);
    border-radius: 6px;
    z-index: 10;
}

.dwnld-simulation img {
    /* margin: 20px; */
    height: 84px;
    object-fit: contain;
    object-position: left;
}

.tvbox2 {
    /* margin-left: 110px; */
    margin: auto;
}
.moblineimg_holder{
    overflow: hidden;
    height: 100%;
}
.moblineimg_holder img {
    height: 100%;
}

.textbhai2 {
    /* margin-right: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.dwn-title {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.downlding {
    color: blue;
}

.tvvideo3 {
    top: 37px;
    left: 110px;
    width: 65%;
}

.tvbox4 {
    margin-left: 90px;
}
.card4_img{
    height: 100%;
    width: auto;
}

.textbhai4 p {
    font-size: 23px;
    font-weight: 400;
}

.faq_container {
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq_title {
    margin: 30px;
    padding: 10px;
    color: white;
    font-size: 32px;
    font-weight: 900;
}

.ques {
    padding: 23px;
    margin: 5px;
    height: 83px;
    width: 77vw;
    border: none;
    color: white;
    background-color: rgba(66, 65, 65, 0.678);
    font-size: 27px;
    display: flex;
    justify-content: space-between;
}

.enroll_instruction {
    margin-top: 16px;
    font-size: 1.25rem;
    font-weight: 400;
}

.email_entry2 {
    height: 53px;
    width: 350px;
    padding: 10px 15px;
    font-size: smaller;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ffffff54;
    background-color: black;
    color: red;
    position: relative;
    left: 0px;
    top: 17px;
}

.margin40px {
    margin: 40px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.flex_column {
    margin: 65px;
    width: 80vw;
    color: rgba(251, 250, 250, 0.684);
    display: flex;
    flex-direction: column;
}

.columns_wrapper {
    /* margin-left:100px ; */
    display: flex;
    /* justify-content: left; */
    gap: 160px;
    /* background-color: black; */
}

.customer_care {
    color: rgba(251, 250, 250, 0.684);
    width: inherit;
    background-color: black;
}

.customer_care a {
    margin: 5px;
    color: rgba(251, 250, 250, 0.684);
}

.columns {
    color: white;
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    gap: 15px;

}

.columns a {
    font-size: 14px;
    color: rgba(251, 250, 250, 0.684);
}

.lang_btn2 {
    margin: 0px;
    margin-bottom: 25px;
}

@media only screen and (max-height:565px) {
    .hero {
        margin-top: 5%;
    }
    .dwn-title{
        height: 50%;
    }
    .dwnld-simulation{
        height: 60px;
        width: 70%;
    }
    .dwnld-simulation img{
        height: 80%;
    }
    .dwn_gif_container{
        height: 80%;
    }
    .tvvideo3{
        top: -39px;
        left: 63px;
        width: 65%;
    }
}
@media only screen and (max-width:400px){
    .cards {
        flex-direction: column;
    }
}